div.faq-container .faq-title-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

div.faq-container .faq-title-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 4.4rem;
}
